ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003399;
}

li {
    float: left;
}

body
{
	background-image : url(https://i.ibb.co/bdqmnHX/Picture1.png);
	background-repeat : no-repeat;
	background-size : 100% 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #00cccc;
}

.active {
    background-color: #00cccc;
}